/*
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program. If not, see http://www.gnu.org/licenses/.
*/

/* Google Web Cache, ProxyWeb, ProxyWeb, Hide.me */

#google-cache-hdr, div[style="z-index:9999998;width:100%;height:54px;text-align:center;margin:0;border-bottom:2px solid #725554;color:#000000;background-image:url(images/backbrushed.gif);font-size:11px;font-weight:bold;color:#787473;font-family:Bitstream Vera Sans,arial,sans-serif;padding:0px;"], #xmail, div#include {
    display: none !important;
}
