/*
This program is free software: you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program. If not, see http://www.gnu.org/licenses/.
*/

* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1em;
    color: #333;
    padding: 0;
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: 0;
    margin: 0;
    padding: 20px;
}
h1, h2 {
    color: #666;
    font-weight: 300;
    margin: 0;
    margin-top: 40px;
}
p {
    max-width: 6in;
    margin: 10px auto;
    line-height: 1.5;
}
a {
    color: dodgerblue;
}
a:hover {
    color: steelblue;
}
a:active {
    color: lightsteelblue;
}
select, .button {
    width: 320px;
    height: 50px;
    margin: 0;
    border: 0;
    outline: 0;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: .8em;
    display: inline-block;
}
.button {
    width: 100px;
}
#select-container, select {
    background: #eee;
    color: #333;
}
#select-container {
    display: inline-block;
    padding: 0;
}
.button {
    text-decoration: none;
    background: dodgerblue;
    color: white;
}
.button:hover {
    background-color: steelblue;
}
.button:active {
    background-color: lightsteelblue;
}
